@import "variables";

footer {
	.container {
		border-top: 2px dotted $teal;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 20px;
	}
	img.logo-left {
		margin-right: 20px;
		@media(max-width:430px) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}
}