@import "variables";

body {
	font-family: "museo-slab",serif;
}

h1, h2, h3, h4, h5, h6, p, td, li {
	font-family: "museo-slab",serif;
	color: $white;
}

.lead {
	color: $teal;
	font-family: "caliban-std";
	font-size: 3em;
	line-height: 1;
}

.teal {
	color: $teal;
}

.white {
	color: $white;
}

header {
	h1 {
		color: $white;
		font-size: 2em;
		margin-top: 0;
		@media(max-width:768px) {
			text-align: center;
		}
		@media(max-width:469px) {
			font-size: 1.5em;
		}
	}
	h2 {
		color: $teal;
		font-size: 4em;
		font-weight: 300;
		margin-bottom: 0;
		@media(max-width:768px) {
			text-align: center;
		}
		@media(max-width:469px) {
			font-size: 2.5em;
		}
	}
	p {
		color: $silver;
		@media(max-width:768px) {
			text-align: center;
		}
	}
}

section {
	h1 {
		border-bottom: 2px dotted $teal;
		color: $white;
		font-size: 2em;
		small {
			color: $teal;
			margin-left: 20px;
		}
	}
	p.lead {
		@media(max-width:600px) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.modal.video {
	.modal-footer {
		h4 {
			small {
				margin-left: 20px;
			}
		}
	}
}

.content {
	ul {
		list-style: none;
	}

	li {
	  padding-left: 1.4em;
	  @media(max-width:768px) {
		text-align: left;
	}
	}

	li:before {
	  content: '\F111' /*fontawesome char code inside the ''*/;
	  color: $teal;
	  font-family: FontAwesome; /* or whatever */
	  display: inline-block;
	  margin-left: -1.4em; /*same as padding-left set on li*/
	  width: 1.4em; /*same as padding-left set on li*/
	}	
}